<section class="col s12 m12 l8 section">
    <div class="row">
        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-suitcase"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s">

                {{#lang-switch}}{{/lang-switch}}

                <h2>{{t 'work_experience'}}</h2>
                {{#each model.experiences as |exp|}}
                  {{#cv-item  class="custom-content-wrapper"  item=exp}} {{/cv-item}}
                {{/each}}
            </div>
        </div>

        <!-- ========================================
         Education
        ==========================================-->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="custom-content col s12 m12 l10 wow fadeIn a1" data-wow-delay="0.1s" >
                <h2>{{t 'education'}} </h2>

                {{#each model.educations as |edu|}}
                  {{#cv-item item=edu}} {{/cv-item}}
                {{/each}}
            </div>
        </div>

        <!-- ========================================
              Intertests
        ==========================================-->

        <div class="section-wrapper z-depth-1">
            <div class="section-icon col s12 m12 l2">
                <i class="fa fa-file-code-o"></i>
            </div>
            <div class="interests col s12 m12 l10 wow fadeIn" data-wow-delay="0.1s">
                <h2>{{t 'projects'}}</h2>

                {{#each model.projects as |p|}}
                  {{#cv-item class="custom-content-wrapper" item=p}} {{/cv-item}}
                {{/each}}
            </div>
        </div>
        <!-- =======================================
          portfolio Website
        ==========================================-->

        <div class="section-wrapper z-depth-1 wow fadeIn" data-wow-delay="0.1s">
            <div class="col s12 m12 l10 website right" >
                <div class="row">
                    <div class="col s12 m12 l6">
                       <i class="fa fa-github" aria-hidden="true"></i><span><a href="https://github.com/LuanJames"> github.com/LuanJames</a></span>
                    </div>
                    <div class="col col s12 m12 l6">
                        <i class="fa fa-linkedin" aria-hidden="true"></i><span><a href="https://www.linkedin.com/in/luanjames"> linkedin.com/in/luanjames</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end row -->
</section><!-- end section -->
